annotated-types
anyio
APScheduler
beautifulsoup4
bs4
chromadb
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
fastapi
firebase-admin
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-secret-manager
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
idna
jsonpatch
jsonpointer
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-google-community
langchain-google-genai
langchain-chroma
langgraph
langsmith
msgpack
orjson
packaging
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyJWT
pyparsing
python-dotenv
PyYAML
requests
requests-toolbelt
rsa
sniffio
soupsieve
SQLAlchemy
starlette
tenacity
tqdm
typing-inspection
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
uvicorn[standard]
zstandard
python-telegram-bot
aiofiles
python-multipart